<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475924391391-bjg2c1s8s53nrpm4582bsnfpmn1mabdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475924391391-bjg2c1s8s53nrpm4582bsnfpmn1mabdp</string>
	<key>API_KEY</key>
	<string>AIzaSyC3BJmCRa_NSIvKJ52mwLOHwA2cDS3DvIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>475924391391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CodyAnderson.vehicleManagement</string>
	<key>PROJECT_ID</key>
	<string>vehiclemanagement-55267</string>
	<key>STORAGE_BUCKET</key>
	<string>vehiclemanagement-55267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475924391391:ios:758394be281f54dcf3106a</string>
</dict>
</plist>